<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
     <!-- Display error message if there is one -->
     <% if (error && error.length > 0) { %>
        <p class="error"><%= error %></p>
    <% } %>

    <form action="/auth/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" autocomplete="username"required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" autocomplete="current-password" required>
    
        <button type="submit">Register</button>
    </form>
    
    
</body>
</html>
